<%= form_for(@expediente) do |f| %>
  <% if @expediente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expediente.errors.count, "error") %> prohibited this expediente from being saved:</h2>

      <ul>
      <% @expediente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido1 %><br />
    <%= f.text_field :apellido1 %>
  </div>
  <div class="field">
    <%= f.label :apellido2 %><br />
    <%= f.text_field :apellido2 %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :documento_identidad %><br />
    <%= f.text_field :documento_identidad %>
  </div>
  <div class="field">
    <%= f.label :edad %><br />
    <%= f.number_field :edad %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :municipio %><br />
    <%= collection_select(:expediente, :municipio_id, @municipios, :id, :nombre_completo, {:prompt => false })  %>

  </div>
  <div class="field">
    <%= f.label :zona %><br />
    <%= select_tag(:zona, options_for_select([['Rural', 'Rural'], ['Urbana', 'Urbana'], ['Marginal', 'Marginal']])) %>
  </div>
  <div class="field">
    <%= f.label :ocupacion %><br />
    <%= f.text_field :ocupacion %>
  </div>
  <div class="field">
    <%= f.label :lugar_trabajo %><br />
    <%= f.text_field :lugar_trabajo %>
  </div>
  <div class="field">
    <%= f.label :telefono_trabajo %><br />
    <%= f.text_field :telefono_trabajo %>
  </div>
  <div class="field">
    <%= f.label :direccion_trabajo %><br />
    <%= f.text_field :direccion_trabajo %>
  </div>
  <div class="field">
    <%= f.label :nivel_educativo %><br />
    <%= f.text_field :nivel_educativo %>
  </div>
  <div class="field">
    <%= f.label :zona %><br />
    <%= select_tag(:zona, options_for_select([['Rural', 'Rural'], ['Urbana', 'Urbana'], ['Marginal', 'Marginal']])) %>
  </div>
  <div class="field">
    <%= f.label :estado_familiar %><br />
    <%= f.text_field :estado_familiar %>
  </div>
  <div class="field">
    <%= f.label :sostenimiento_familiar %><br />
    <%= f.text_field :sostenimiento_familiar %>
  </div>
  <div class="field">
    <%= f.label :discapacidad_fisica %><br />
    <%= f.text_field :discapacidad_fisica %>
  </div>
  <div class="field">
    <%= f.label :discapacidad_mental %><br />
    <%= f.text_field :discapacidad_mental %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
