<% content_for :content do %>

<ul class="breadcrumb">
    <li>Estás en:</li>
    <li class="active">Expedientes</li>
</ul>


<h1>Expedientes</h1>

<table class="table table-bordered">
  <tr>
    <th width="90%" >Expediente</th>
    <th width="10%">Acciones</th>
  </tr>

<% @expedientes.each do |expediente| %>
  <tr>
    <td><b>Nombre:</b> <i><%= expediente.nombre %>
        <%= expediente.apellido1 %>
        <%= expediente.apellido2 %></i><br>
        <b>Documento de Identidad:</b> <%= expediente.documento_identidad %><br>
        <b>Edad:</b> <%= expediente.edad %><br>
        <b>Sexo:</b> <%= expediente.sexo %> </td>
        
        <td>
            <%= link_to 'Ver', expediente %>
        </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Expediente', new_expediente_path %>
<% end %>

<%= render :template => 'layouts/dashboard' %>
