<% content_for :content do %>
<h1>Listing instituciones</h1>

<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instituciones.each do |institucion| %>
  <tr>
    <td><%= institucion.nombre %></td>
    <td><%= link_to 'Show', institucion %></td>
    <td><%= link_to 'Edit', edit_institucion_path(institucion) %></td>
    <td><%= link_to 'Destroy', institucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Institucion', new_institucion_path %>
<% end %>

<%= render :template => 'layouts/dashboard' %>
