<% content_for (:page_title) do %>
<a class="brand" href="#">
  Plataforma de Información Integral Contra la
  Violencia Domestica
</a>
<% end %>

<div class="loginContainer">
  <%= form_for @usuario do |f| %>
  <% if @usuario.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @usuario.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-row row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <%= f.label :email %>
        <%= f.text_field :email, :class => 'input-block-level' %>
      </div>
    </div>
  </div>

  <div class="form-row row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <%= f.label :institucion %>
        <%= collection_select(:usuario, :institucion_id, @instituciones, :id, :nombre, {:prompt => false, :allow_blank => "Selecciona Institucion" }, {:class=>'input-block-level'})  %>
      </div>
    </div>
  </div>

  <div class="form-row row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <%= f.label :password %>
        <%= f.password_field :password, :class => 'input-block-level' %>
      </div>
    </div>
  </div>

  <div class="form-row row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => 'input-block-level' %>
      </div>
    </div>
  </div>

  <div class="form-row row-fluid">                       
    <div class="span12">
      <div class="row-fluid">
        <div class="form-actions">
          <div class="span12 controls center">
            <div class="actions"><%= f.submit %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
