<% content_for :content do %>

<ul class="breadcrumb">
                  <li>Estás en:</li>
                  <li>
                    <%= link_to expedientes_path do %>
                        Expedientes
                    <% end %>                  
                    <span class="divider">
                      <span class="icon16 icomoon-icon-arrow-right">/</span>
                    </span>
                  </li>
                  <li>
                    <%= link_to expediente_path(@expediente) do %>
                        Expediente No. <%= @expediente.id %>
                    <% end %>                  
                    <span class="divider">
                      <span class="icon16 icomoon-icon-arrow-right">/</span>
                    </span>
                  </li>
                  <li class="active">Nueva Denuncia</li>
</ul>

<h1>New expediente</h1>

<%= render 'form' %>

<%= link_to 'Back', expedientes_path %>
<% end %>

<%= render :template => 'layouts/dashboard' %>
