<% content_for :content do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @denuncia.usuario %>
</p>

<p>
  <b>Expediente:</b>
  <%= @denuncia.expediente %>
</p>

<p>
  <b>Tipo:</b>
  <%= @denuncia.tipo %>
</p>

<p>
  <b>Direccion hechos:</b>
  <%= @denuncia.direccion_hechos %>
</p>

<p>
  <b>Municipio hechos:</b>
  <%= @denuncia.municipio_hechos %>
</p>

<p>
  <b>Zona hechos:</b>
  <%= @denuncia.zona_hechos %>
</p>

<p>
  <b>Ambito:</b>
  <%= @denuncia.ambito %>
</p>

<p>
  <b>Fecha agresion:</b>
  <%= @denuncia.fecha_agresion %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @denuncia.descripcion %>
</p>

<p>
  <b>Nombre agresor:</b>
  <%= @denuncia.nombre_agresor %>
</p>

<p>
  <b>Edad agresor:</b>
  <%= @denuncia.edad_agresor %>
</p>

<p>
  <b>Sexo agresor:</b>
  <%= @denuncia.sexo_agresor %>
</p>

<p>
  <b>Direccion agresor:</b>
  <%= @denuncia.direccion_agresor %>
</p>

<p>
  <b>Municipio agresor:</b>
  <%= @denuncia.municipio_agresor %>
</p>

<p>
  <b>Zona agresor:</b>
  <%= @denuncia.zona_agresor %>
</p>

<p>
  <b>Nivel educativo agresor:</b>
  <%= @denuncia.nivel_educativo_agresor %>
</p>

<p>
  <b>Ocupacion agresor:</b>
  <%= @denuncia.ocupacion_agresor %>
</p>

<p>
  <b>Telefono agresor:</b>
  <%= @denuncia.telefono_agresor %>
</p>

<p>
  <b>Trabajo agresor:</b>
  <%= @denuncia.trabajo_agresor %>
</p>

<p>
  <b>Direccion trabajo agresor:</b>
  <%= @denuncia.direccion_trabajo_agresor %>
</p>

<p>
  <b>Municipio trabajo agresor:</b>
  <%= @denuncia.municipio_trabajo_agresor %>
</p>

<p>
  <b>Relacion agresor victima:</b>
  <%= @denuncia.relacion_agresor_victima %>
</p>

<p>
  <b>Condicion agresor:</b>
  <%= @denuncia.condicion_agresor %>
</p>

<p>
  <b>Tipo arma agresor:</b>
  <%= @denuncia.tipo_arma_agresor %>
</p>

<p>
  <b>Antecendente criminal agresor:</b>
  <%= @denuncia.antecendente_criminal_agresor %>
</p>


<%= link_to 'Edit', edit_denuncia_path(@denuncia) %> |
<%= link_to 'Back', denuncias_path %>
<% end %>

<%= render :template => 'layouts/dashboard' %>
