<% content_for :content do %>


<ul class="breadcrumb">
                  <li>Estás en:</li>
                  <li>
                    <%= link_to expedientes_path do %>
                        Expedientes
                    <% end %>                  
                    <span class="divider">
                      <span class="icon16 icomoon-icon-arrow-right">/</span>
                    </span>
                  </li>
                  <li>
                    <%= link_to expediente_path(@denuncia.expediente) do %>
                        Expediente No. <%= @denuncia.expediente.id %>
                    <% end %>                  
                    <span class="divider">
                      <span class="icon16 icomoon-icon-arrow-right">/</span>
                    </span>
                  </li>
                  <li class="active">Denuncia No. <%= @denuncia.id %></li>
</ul>

<p id="notice"><%= notice %></p>




<p>
  <b>Usuario:</b>
  <%= @denuncia.usuario.email %>
</p>

<p>
  <b>Tipo:</b>
  <%= @denuncia.tipo %>
</p>

<p>
  <b>Direccion hechos:</b>
  <%= @denuncia.direccion_hechos %>
</p>

<p>
  <b>Municipio hechos:</b>
  
</p>

<p>
  <b>Zona hechos:</b>
  <%= @denuncia.zona_hechos %>
</p>

<p>
  <b>Ambito:</b>
  <%= @denuncia.ambito %>
</p>

<p>
  <b>Fecha agresion:</b>
  <%= @denuncia.fecha_agresion %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @denuncia.descripcion %>
</p>

<p>
  <b>Nombre agresor:</b>
  <%= @denuncia.nombre_agresor %>
</p>

<p>
  <b>Edad agresor:</b>
  <%= @denuncia.edad_agresor %>
</p>

<p>
  <b>Sexo agresor:</b>
  <%= @denuncia.sexo_agresor %>
</p>

<p>
  <b>Direccion agresor:</b>
  <%= @denuncia.direccion_agresor %>
</p>

<p>
  <b>Municipio agresor:</b>
  <%= @denuncia.municipio_agresor %>
</p>

<p>
  <b>Zona agresor:</b>
  <%= @denuncia.zona_agresor %>
</p>

<p>
  <b>Nivel educativo agresor:</b>
  <%= @denuncia.nivel_educativo_agresor %>
</p>

<p>
  <b>Ocupacion agresor:</b>
  <%= @denuncia.ocupacion_agresor %>
</p>

<p>
  <b>Telefono agresor:</b>
  <%= @denuncia.telefono_agresor %>
</p>

<p>
  <b>Trabajo agresor:</b>
  <%= @denuncia.trabajo_agresor %>
</p>

<p>
  <b>Direccion trabajo agresor:</b>
  <%= @denuncia.direccion_trabajo_agresor %>
</p>

<p>
  <b>Municipio trabajo agresor:</b>
  <%= @denuncia.municipio_trabajo_agresor %>
</p>

<p>
  <b>Relacion agresor victima:</b>
  <%= @denuncia.relacion_agresor_victima %>
</p>

<p>
  <b>Condicion agresor:</b>
  <%= @denuncia.condicion_agresor %>
</p>

<p>
  <b>Tipo arma agresor:</b>
  <%= @denuncia.tipo_arma_agresor %>
</p>

<p>
  <b>Antecendente criminal agresor:</b>
  <%= @denuncia.antecendente_criminal_agresor %>
</p>


<hr>



<h3>Archivos</h3>

<table class="table table-bordered">
<% @denuncia.archivos.each do |archivo| %>
  <tr>
    <td><%= link_to archivo.archivo_file_name, archivo.archivo.url %></td>
    <td><%= link_to 'Eliminar', archivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= form_for(@archivo) do |f| %>
  
  <div class="field">
    <%= f.label :archivo %><br />
    <%= f.file_field :archivo %>
  </div>

  <div class="actions">
    <%= hidden_field_tag(:attachable_id, "#{@denuncia.id}") %>
    <%= f.submit %>
  </div>
<% end %>

<hr>

<h3>Notas</h3>

<table class="table table-bordered">
<% @denuncia.notas.each do |nota| %>
  <tr>
    <td><%= nota.descripcion %></td>
    <td><%= link_to 'Eliminar', nota, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= form_for(@nota) do |f| %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= hidden_field_tag(:denuncia_id, "#{@denuncia.id}") %>
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Editar Denuncia', edit_denuncia_path(@denuncia) %>
<% end %>

<%= render :template => 'layouts/dashboard' %>
