<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title or 'Panel de control' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le Styles -->
    <!--    <%= stylesheet_link_tag    "application", :media => "all" %> -->
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans:400,700" %>
    <%= stylesheet_link_tag    "styles" %>
    <style type="text/css"><%= yield :stylesheets %></style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Required Scripts -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.min" %>

    <!-- Custom  -->
    <%= javascript_include_tag "custom" %>
    <style type="text/css"><%= yield :javascripts %></style>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <header id="header">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="/">PICV</a>
            <div class="nav-no-collapse">
              <ul class="nav">
                <li class="dropdown">
                  <ul class="dropdown-menu">
                    <li class="menu">
                      <ul class="messages">    
                        <li class="header"><strong>Mensajes</strong> (10) correos y (2) MP</li>
                        <li>
                          <span class="icon"><i class="icon-user"></i></span>
                          <span class="name"><a data-toggle="modal" href="#myModal1"><strong>Sammy Morerira</strong></a><span class="time">35 min ago</span></span>
                          <span class="msg">I have question about new function ...</span>
                        </li>
                        <li>
                          <i class="icon-user"></i>
                          <span class="name"><a data-toggle="modal" href="#myModal1"><strong>George Michael</strong></a><span class="time">1 hour ago</span></span>
                          <span class="msg">I need to meet you urgent please call me ...</span>
                        </li>
                        <li>
                          <span class="icon"><i class="icon-envelope-alt"></i></span>
                          <span class="name"><a data-toggle="modal" href="#myModal1"><strong>Ivanovich</strong></a><span class="time">1 day ago</span></span>
                          <span class="msg">I send you my suggestion, please look and ...</span>
                        </li>
                        <li class="view-all"><a href="#">Ver todos los mensajes <i class="icon-circle-arrow-right"></i></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              
              <ul class="nav pull-right usernav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bell-alt"></i>
                    <span class="notification">3</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="menu">
                      <ul class="notif">
                        <li class="header"><strong>Notificaciones</strong> (3) elementos</li>
                        <li>
                          <a href="#">
                            <span class="icon"><i class="icon-user"></i></span>
                            <span class="event">1 User is registred</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="icon"><i class="icon-comment"></i></span>
                            <span class="event">Jony add 1 comment</span>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="icon"><i class="icon-file"></i></span>
                            <span class="event">admin Julia added post with a long description</span>
                          </a>
                        </li>
                        <li class="view-all"><a href="#">Ver todas las notifiaciones <i class="icon-circle-arrow-right"></i></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                    <i class="icon-user"></i>
                    <span class="txt"><%= @current_user.email %></span>
                  </a>
                </li>
                <li>
                  <a href="/logout"><i class="icon-signout"></i> Salir</a>
                </li>
              </ul>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div><!-- /navbar --> 
    </header>

    <section role="main">

      <section role="main">

        <div id="wrapper">

          <!--Responsive navigation button-->  
          <div class="resBtn">
            <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
          </div>
          
          <!--Sidebar collapse button-->  
          <div class="collapseBtn">
            <a href="#" class="tipR" title="Hide sidebar"><span class="icon12 minia-icon-layout"></span></a>
          </div>

          <!--Sidebar background-->
          <div id="sidebarbg"></div>
          <!--Sidebar content-->
          <div id="sidebar">

            <div class="sidenav">

              <div class="sidebar-widget" style="margin: -1px 0 0 0;">
                <h5 class="title" style="margin-bottom:0">Navegación</h5>
              </div><!-- End .sidenav-widget -->

              <div class="mainnav">
                <ul>
                  <li><a href="/expedientes"><i class="icon-folder-open"></i> Expedientes</a></li>
                  <li><a href="/instituciones"><i class="icon-building"></i> Instituciones</a></li>
                  <li><a href="/municipios"><i class="icon-circle-blank"></i> Municipios</a> </li>
                  <li><a href="/departamentos"><i class="icon-circle"></i> Departamentos</a></li>
                </ul>
              </div>
            </div><!-- End sidenav -->

          </div><!-- End #sidebar -->

          <!--Body content-->
          <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->

              <div class="heading">

                <ul class="breadcrumb">

                </ul>

              </div><!-- End .heading-->

              <!-- Build page from here: -->
              <div class="row-fluid">
                <%= yield :content %>
              </div><!-- End .row-fluid -->

            </div><!-- End contentwrapper -->
          </div><!-- End #content -->

        </div><!-- End #wrapper -->

      </section>
      <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '510d6238f5a1f518d700002d');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
  </body>
</html>
